<h1>welcome to the api! this data consists of data from shots taken on the pga tour from 2001-2010. around 8 million shots were recorded in that time and average strokes based on distance to the hole was computed, along with differing lies.</h1>
<a href="/api/strokes">strokes gained api data</a><br>
<a href="/api/putts">putts gained api data</a>
